
<!-- SECCIÓN MIS PROYECTOS -->

<div class="container">
  <h2 class="text-center">Mis Proyectos</h2>
  <div class="row mt-4 justify-content-center">
      <!-- Proyecto 1 -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card">
              <img src="img2.png" class="card-img-top" alt="Proyecto 1">
              <div class="card-body">
                  <h5 class="card-title">Proyecto recetas de cocina</h5>
                  <p class="card-text">Aplicación para una web de recetas de cocina</p>
              </div>
          </div>
      </div>

<!-- Proyecto 2 -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card">
              <img src="img5.png" class="card-img-top" alt="Proyecto 3">
              <div class="card-body">
                  <h5 class="card-title">Proyecto aplicación notas móvil</h5>
                  <p class="card-text">Prototipo de una aplicación de notas para móvil, incorporando funcionalidades como nube, creación y eliminación de notas.</p>
              </div>
          </div>
      </div>


      <!-- Proyecto 3 -->
      <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card">
              <img src="img4.png" class="card-img-top" alt="Proyecto 2">
              <div class="card-body">
                  <h5 class="card-title">Proyecto e-commerce WordPress</h5>
                  <p class="card-text">Creación de un sitio web con WordPress trabajando con Docker.</p>
              </div>
          </div>
      </div>

  </div>
</div>
