body{

  background-color: #666;
}

.navbar{
  background-color: #f0bbb0 !important; /* Fondo para las tarjetas */
}

.container {
  padding: 40px; /* Espaciado interior */

}

.card {
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.img-card {
  width: 100px;  /* Ancho fijo */
  height: 100px; /* Altura fija */
  object-fit: contain; /* Asegura que la imagen no se recorte */
  display: block;
  margin: 0 auto 10px; /* Centra la imagen y da margen inferior */
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.card-text {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}

.carousel-inner {
  max-height: 400px; /* Mayor altura en pantallas grandes */
}

.carousel-img {
  width: 100%;
  height: auto; /* Ajusta la altura automáticamente */
  max-height: 400px; /* Máxima altura en pantallas grandes */
  object-fit: cover;
}

/* Estilos para dispositivos pequeños */
@media (max-width: 768px) {
  .carousel-inner {
    max-height: 250px; /* Reduce la altura en móviles */
  }

  .carousel-img {
    max-height: 250px;
  }
}






